
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>
        <div>
            Welcome to index page @ViewData["uname"]
            <a href="/Login/Logout">Log out</a>
        </div>
    </body>
</html>
